.employee-card {
    background-color: rgb(226, 222, 216);
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    text-align: center;
    margin: 5px;
}

body {
    background-color: rgba(22, 120, 53, 0.874);
}